<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
     <style>
        body {

            background: linear-gradient(to right, #751978, #096179,#00f3ff);
            /* You can customize the gradient by changing the color values and direction */


            font-family: 'Arial', sans-serif;
            color: #fff;
            text-align: center;
            padding: 50px;
        }


    </style>

</head>
<body>
<h1 style="text-align: center;">Jai Hind!!</h1>
<h3 style="text-align: center;">{{ face_names }}</h3>


</body>
</html>